$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?8f6b06e274de5ac7e9e6c0b90ee8a68d") format("truetype"),
url("./flaticon.woff?8f6b06e274de5ac7e9e6c0b90ee8a68d") format("woff"),
url("./flaticon.woff2?8f6b06e274de5ac7e9e6c0b90ee8a68d") format("woff2"),
url("./flaticon.eot?8f6b06e274de5ac7e9e6c0b90ee8a68d#iefix") format("embedded-opentype"),
url("./flaticon.svg?8f6b06e274de5ac7e9e6c0b90ee8a68d#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "earth-globe-with-continents-maps": "\f101",
    "global": "\f102",
    "globe": "\f103",
);

.flaticon-earth-globe-with-continents-maps:before {
    content: map-get($flaticon-map, "earth-globe-with-continents-maps");
}
.flaticon-global:before {
    content: map-get($flaticon-map, "global");
}
.flaticon-globe:before {
    content: map-get($flaticon-map, "globe");
}
